module {{.Module}}

go 1.25.0

require (
{{- if hasBubbletea .}}
	charm.land/bubbletea/v2 {{charmPin "bubbletea"}}
{{- end}}
{{- if hasBubbles .}}
	charm.land/bubbles/v2 {{charmPin "bubbles"}}
{{- end}}
{{- if hasLipgloss .}}
	charm.land/lipgloss/v2 {{charmPin "lipgloss"}}
{{- end}}
{{- if hasHuh .}}
	charm.land/huh/v2 {{charmPin "huh"}}
{{- end}}
{{- if hasGlamour .}}
	charm.land/glamour/v2 {{charmPin "glamour"}}
{{- end}}
{{- if hasWish .}}
	charm.land/wish/v2 {{charmPin "wish"}}
{{- end}}
{{- if hasLog .}}
	charm.land/log/v2 {{charmPin "log"}}
{{- end}}
{{- if hasHarmonica .}}
	github.com/charmbracelet/harmonica {{charmPin "harmonica"}}
{{- end}}
{{- if hasViper .}}
	github.com/spf13/viper v1.20.1
{{- end}}
{{- if hasCobra .}}
	github.com/spf13/cobra v1.9.1
{{- end}}
{{- if hasFang .}}
	charm.land/fang/v2 {{charmPin "fang"}}
{{- end}}
)
