module {{.Module}}

go {{if hasBubbles .}}1.25.0{{else}}1.23{{end}}

require (
{{- if hasBubbletea .}}
	charm.land/bubbletea/v2 {{charmPin "bubbletea"}}
{{- end}}
{{- if hasBubbles .}}
	charm.land/bubbles/v2 {{charmPin "bubbles"}}
{{- end}}
{{- if hasLipgloss .}}
	charm.land/lipgloss/v2 {{charmPin "lipgloss"}}
{{- end}}
)
